<h1 class="feed-title">Welcome <%= current_user.username %>!</h1>
<section class="feed">
  <div class="infinite-tweets">
    <b>Your Feed!</b>
    <a class='fetch-tweets' href="#">Load more</a>
    <ul id="feed-messages-list">
    </ul>
    <a href="#" class="hide">Load more</a>
  </div>
  <aside class="feed-form">
    <%= render 'tweets/form' %>
  </aside>
</section>
