<h2>New Tweet!</h2>
<form class='tweet-compose' action="/tweets" method="POST" data-tweets-ul='#feed-messages-list'>
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <div class='tweet-with-counter'>
      <textarea name="tweet[content]" placeholder="Content"></textarea>
      <strong class="chars-left">
      </strong>
    </div>
    <br>
    <div class="mentions">
      <a href='#' class="add-mention">Add Mention +</a>
    </div>
    <br>
    <input class='submit-button' type="submit" value="Post Tweet!">
  </form>
