@import '_variables.scss';

body h1:not(:first-child) {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
  font-size: 40px;
  color: $base-blue;
  margin-bottom: 15px;
  flex-basis: 50%;

}

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.user-follows {
  text-align: center;
}

b {
  display: block;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 1.8rem;
  color: $base-blue;
}

article ul,
aside ul,
.users-search ul li,
.infinite-tweets ul {
  display: flex;
  flex-direction: column;
  align-items: left;
}

article>ul>li,
aside ul li,
.infinite-tweets>ul>div,
.users-search ul li {
  position: relative;
  display: flex;
  // align-items: center;
  flex-direction: column;
  width: 400px;
  min-height: 150px;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
}

article li>ul li,
.tweet ul li {
  text-align: center;
  margin-bottom: 30px;
}

article li>ul>p,
.tweet ul p {
  font-weight: 700;
}

article a,
aside a,
article a:visited,
aside a:visited,
.users-search a,
.users-search a:visited,
.infinite-tweets a,
.infinite-tweets a:visited {
  text-align: left;
  font: 700 1.3rem 'Roboto', sans-serif;
  color: $base-blue;
}

article p,
aside p,
.infinite-tweets p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #555;
}

article small,
.tweet small {
  position: absolute;
  bottom: 3px;
}

.feed {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#feed-messages-list {
  width: 400px;
}

a.fetch-tweets,
a.fetch-tweets:visited {
  display: inline-block;
  padding: 10px;
  color: #000;
  font-size: .9rem;
  transition: color font-size .7s ease-in;
  transition: transform .7s ease-out;
}

a.fetch-tweets:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 7px -1px 0px $base-blue;
  transform: translate(-7px, 1px);
  font-size: 1.1rem;
}

a.fetch-tweets:hover::after {
  content: "..."
}

a.fetch-tweets:hover::before {
  content: "+ "
}

.replace-link {
  color: #000;
  font: 300 1.1rem 'Roboto';
  text-align: left;
}